#app {
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #989898;
  margin: 0;
}

logo {
  display:block;
  margin-top: 100px;
  text-align: center;  
}

x-form {
  display:block;
}

x-form > label {
  display: flex;
  position:relative;  
  justify-content: space-between;
  margin: 1em 0em;
}
x-form > label > * {
  display:block;
}

x-form > label > input {
   width: 40%   
}

.checkerboard {
  width: max-content;  
  display: inline-block;
  background-color: #fff;
  background-image: 
    linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border: 1px solid;
  font-size: 0;
}