#app {
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #989898;
  margin: 0;
}

logo {
  display:block;
  margin-top: 100px;
  text-align: center;  
}

x-form {
  display:block;
}

x-form > label {
  display: flex;
  position:relative;  
  justify-content: space-between;
  margin: 1em 0em;
}
x-form > label > * {
  display:block;
}

x-form > label > input {
   width: 40%   
}

